@font-face {
    font-family: 'Roboto';
    src: 
    	url('../fonts/web/roboto.woff2') format('woff2'),
      url('../fonts/web/roboto.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
    	url('../fonts/web/robotobold.woff2') format('woff2'),
      url('../fonts/web/robotobold.woff') format('woff');
    font-weight: bold;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #fb565a;
	border: none;
	border-radius: 2px;
	padding: 16px 40px;
}

.btn:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

/*------ wrappers ------*/

.header-wrapper {
	width: 100%;
	background-color: #eeeeee;
	color: #000000;
}

.container {
	width: 1440px;
	/*padding: 0;/**/
	margin: 0 auto;
}

.catalog-container {
	width: 1200px;
	margin: 0 auto;
	display: flex;
}

.main-header,
.features-header,
.products,
.studio,
.portfolio,
.main-footer {
	box-sizing: border-box;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
	padding-bottom: 0;
}

.products,
.studio,
.portfolio {
	border-bottom: 2px solid #eeeeee;
}

.products {
	padding-top: 80px;
}

.studio {
	padding-top: 41px;
}

/*------ <header class="main-header"> -----*/

.main-navigation {
	padding-top: 49px;
	display: flex;
}

.main-navigation-list,
.main-navigation-basket {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	padding: 0;
	margin: 0;
	margin-top: 28px;
	text-transform: uppercase;
	color: #000000;
	background-color: #eeeeee;
}

.main-header-logo,
.main-header-logo-inner {
	margin-right: 200px;
}

.main-header-logo-inner:hover {
	opacity: 0.8;
}

.main-header-logo-inner:active {
	opacity: 0.3;
}

.main-navigation-basket {
	margin-left: auto;
	position: relative;
}

.main-navigation-list {
	list-style: none;
	display: flex;
}

.main-navigation-list li {
	margin-right: 48px;
}

.main-navigation-list a,
.main-navigation-basket a {
	padding-bottom: 10px;
	color: #000000;
}

.main-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation-current {
	border-bottom: 2px solid #fb565a;
}

.basket-link {
	padding-left: 50px;
}

.basket-link::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	left: 10px;
	top: 5px;
	background-image: url("../img/basket-icon.svg");
	background-repeat: no-repeat;
}

/*----- <header class="features-header"> -----*/

.features {
	position: relative;
}

.features-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.features-item {
	display: none;
	background-repeat: no-repeat;
	background-position: 93% 80%;
	min-height: 424px;
}

.features-item-current {
	display: block;
}

.features-item-card {
	width: 525px;
	padding: 0;
	padding-top: 71px;
}

.features-item-card h3 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	background-color: transparent;
	margin-top: 0;
	margin-bottom: 28px;
}

.features-item-card p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	display: block;
	width: 410px;
	margin-bottom: 50px;
}

.features-buttons {
	position: absolute;
	left: 50%;
	margin-left: -45px;
	bottom: 96px;
	display: flex;
	justify-content: space-between;
	width: 90px;
	height: 18px;
}

.slider-button {
	width: 18px;
	height: 18px;
	padding: 0;
	cursor: pointer;
	background-color: #ffffff;
	border: none;
	border-radius: 9px;
}

.slider-button-current {
	background-image: url("../img/slider-button.svg");
	background-position: 50% 50%;
}

.slide-1 {
	background-image: url("../img/slide1.png");
}

.slide-2 {
	background-image: url("../img/slide2.png");
}

.slide-3 {
	background-image: url("../img/slide3.png");
}

.header-btn {
	padding-left: 54px;
	padding-right: 54px;
}

/*----- <section class="products"> -----*/

.products-list {
	list-style: none;
	padding: 0;
	padding-bottom: 80px;
	margin: 0;
	display: flex;
}

.products-item {
	box-sizing: border-box;
	width: 300px;
	min-height: 347px;
	padding: 0;
	padding-top: 146px;
	margin: 0;
	margin-right: 100px;
}

.products-item:nth-child(3n) {
	margin-right: auto;
}

.bg-red {
	background-image: url("../img/bg-red.png");
	background-repeat: no-repeat;
}

.bg-green {
	background-image: url("../img/bg-green.png");
	background-repeat: no-repeat;
}

.bg-yellow {
	background-image: url("../img/bg-yellow.png");
	background-repeat: no-repeat;
}

.products h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 16px;
}

.products p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	margin: 0;
	margin-bottom: 45px;
}

.red-btn {
	color: #ffffff;
	background-color: #fb565a;
}

.green-btn {
	color: #ffffff;
	background-color: #00ca74;
}

.yellow-btn {
	color: #ffffff;
	background-color: #efc84a;
}

/*----- <section class="studio"> -----*/

.studio {
	padding-bottom: 65px;
	display: flex;
	flex-wrap: wrap;
}

.studio-text,
.studio-offers {
	box-sizing: border-box;
	width: 800px;
	padding-right: 140px;
}

.studio-text h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	margin-top: 33px;
	margin-bottom: 33px;
	color: #000000;
}

.studio-text p {
	display: inline-block;
	width: 630px;
	margin-top: 0;
}

.studio-logo {
	margin-bottom: 34px;
	float: right;
}

.studio-offers h3 {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
	margin-bottom: 25px;
}

.studio-offers-list {
	list-style: none;
	padding: 0;
	padding-left: 37px;
	margin: 0;
}

.studio-offers-item {
	margin-top: 24px;
	position: relative;
}

.studio-offers-item::before {
	content: "";
	position: absolute;
	width: 28px;
	height: 2px;
	margin-left: -36px;
	top: 12px;
	background-color: #fb565a;
}

.studio-table {
	box-sizing: border-box;
	width: 360px;
}

.studio-table th {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
	padding-bottom: 32px;
}

.studio-table td {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	width: 120px;
	color: #283136;
}

.studio-table .studio-table-bold {
	font-size: 45px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
	padding: 0;
	padding-bottom: 27px;
}

.studio-table-super {
	vertical-align: text-top;
	font-size: 28px;
}

/*----- <section class="portfolio"> -----*/

.portfolio-list {
	list-style: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
	min-height: 182px;
	margin: 0;
	padding-top: 50px;
	padding-right: 0;
	padding-bottom: 40px;
	padding-left: 0;
}

.portfolio-list a {
	opacity: 0.2;
}

.portfolio-list a:hover,
.portfolio-list a:focus {
	opacity: 1;
}

.portfolio-list a:active {
	opacity: 0.1;
}

/*----- <section class="contacts"> -----*/

.contacts {
	padding-top: 70px;
}

.contacts-card {
	position: absolute;
	box-sizing: border-box;
	width: 319px;
	min-height: 309px;
	background-color: #ffffff;

	padding: 50px;
	margin-top: 55px;
	margin-left: 140px; 
}

.contacts-card h3 {
	margin: 0;
}

.contacts-card .btn {
	display: inline-block;
	margin-top: 25px; 
}

.contacts-map p {
	margin: 0;
}

/*----- <section class="feedback"> -----*/

.feedback {
	box-sizing: border-box;
	width: 960px;
	min-height: 590px;
	color: #000000;
	background-color: #ffffff;
	padding-top: 70px;
	padding-right: 60px;
	padding-bottom: 70px;
	padding-left: 100px;
	
	top: 150px;
	left: 50%;
	margin-left: -480px;

	box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.feedback-form {
	display: flex;
	flex-wrap: wrap;
}

.feedback h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	margin: 0;
	margin-bottom: 50px;
}

.feedback-item {
	width: 360px;
	margin: 0;
	margin-right: 40px;
	margin-bottom: 35px;
}

.feedback-item-long {
	width: 760px;
	margin: 0;
	margin-bottom: 50px;
}

.feedback-form label {
	display: block;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}

.feedback-form input {
	box-sizing: border-box;
	width: 360px;
	padding: 10px 14px;
	border: 2px solid #d7dcde;
	outline: none;
}

.feedback-form input:focus {
	color: #444444;
	border-color: #000000;
}

.feedback-form input:invalid {
	color: #e74246;
	border-color: #e74246;
}

.feedback-form textarea:invalid {
	color: #e74246;
	border-color: #e74246;
}

.feedback-form textarea {
	box-sizing: border-box;
	width: 760px;
	height: 118px;
	padding: 10px 14px;
	border: 2px solid #d7dcde;
	resize: none;
	outline: none;
}

.feedback-form textarea:focus {
	color: #444444;
	border-color: #000000;
}

.feedback-form-btn {
	padding-right: 80px;
	padding-left: 80px;
	margin-top: auto;
}

.btn-close {
	position: absolute;
	top: 80px;
	right: 90px;

	width: 21px;
	height: 21px;
	font-size: 0;
	border: none;
	background-image: url("../img/close-cross.svg");
	background-color: #ffffff;
	opacity: 0.3;
	cursor: pointer;
}

.btn-close:hover,
.btn-close:focus {
	opacity: 1;
}

.btn-close:active {
	opacity: 0.1;
}

/*----- <footer class="main-footer"> -----*/

.main-footer {
	display: flex;
	align-items: center;
	padding: 0;
	padding-top: 70px;
	padding-bottom: 50px;	
}

.main-footer-text {
	order: 1;
	padding-top: 5px;
}

.main-footer-text h2 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 10px;
	color: #000000;
}

.main-footer-text p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	margin: 0;
	color: #444444;
	background-color: #ffffff;
}

.footer-social {
	order: 0;
	list-style: none;
	display: flex;
	width: 260px;
	padding: 0;
	margin: 0;
	margin-right: 140px;
}

.footer-social a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 78px;
	height: 78px;
	margin-right: 12px;
	border-radius: 39px;
	background-color: #e1e1e1;
}

.footer-social a:hover,
.footer-social a:active {
	background-color: #e74246;
}

.footer-social a:active {
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.footer-social a:active path {
	fill: #e37376;
}

/*----- class = "modal" -----*/

.modal {
	position: fixed;
}

.modal-no-show {
	display: none;
}

/* --------------------------   catalog.html   -------------------------- */
/*------------------------------------------------------------------------*/



.catalog-header {
	padding-top: 80px;
	padding-bottom: 100px;
}

.catalog-header h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	background-color: #eeeeee;
	margin: 0;
	text-align: center;
}

/*----- <div class="catalog-container"> -----*/

.catalog-container {
	padding-top: 55px;

	margin-top: 0;
	margin-right: auto;
	margin-bottom: 60px;
	margin-left: auto;
}

/*----- <div class="left-column"> -----*/

.left-column {
	box-sizing: border-box;
	width: 320px;
	padding-right: 40px;
	padding-left: 20px;
	margin-right: 60px;
}

/*----- <form class="filter" -----*/

.filter {
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #283136;
	background-color: #ffffff;
}

.filter fieldset {
	padding: 0;
	margin: 0;
	margin-bottom: 45px;
	border: none;
}

.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;

	margin-bottom: 22px;
}

.filter ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

/*----- <div class="range-filter"> -----*/

.range-filter {
	width: 260px;
}

.range-controls {
	position: relative;

	height: 41px;
	background-color: #eeeeee;
	border-radius: 3px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 15px;
}

.range-controls .scale {
	height: 2px;
	background-color: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background-color: #00ca74;
}

.toggle {
	position: absolute;
	top: 30px;
	left: 0;

	width: 4px;
	height: 4px;
	padding: 0;

	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.toggle-min {
	left: 10px;
}

.toggle-max {
	left: 164px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	font-size: 16px;
	width: 50%;
}

.price-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #283136;

	border: none;
	background-color: #eeeeee;
	border-radius: 3px;
}

.max-price {
	text-align: right;
}

/*----- radio, checkbox -----*/

.filter-option {
	margin-bottom: 15px;
	padding-left: 35px;
}

.filter-option label {
	position: relative;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	color: #283136;
}

.filter-option label:hover,
.filter-option label:focus {
	color: #000000;
}

.filter-input-radio + label::before {
	content: "";
	position: absolute;
	left: -35px;
	top: 0;

	box-sizing: border-box;
	width: 25px;
	height: 25px;
	border: 4px solid #a6a6a6;
	border-radius: 50%;
}

.filter-input-radio:checked + label::after {
	content: "";
	position: absolute;
	left: -27px;
	top: 8px;

	box-sizing: border-box;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: #a6a6a6;
}

.filter-input-radio:hover + label::before {
	border-color: #4d4d4d;
}

.filter-input-radio:hover + label::after {
	background-color: #4d4d4d;
}

.filter-input-radio:disabled + label::before {
	border-color: #283136;
}

.filter-input-radio:disabled + label::after {
	background-color: #ededed;
}

.checkbox-on {
	position: absolute;
	display: none;
	left: -34px;
	top: 2px;
	width: 27px;
	height: 23px;
}

.checkbox-label path {
	fill: #b8b8b8;
}

.checkbox-label:hover path {
	fill: #4d4d4d;
}

.checkbox-label:disabled path {
	fill: #ededed;
}

.checkbox-off {
	position: absolute;
	display: none;

	left: -34px;
	top: 2px;

	width: 23px;
	height: 23px;
}

.filter-input-checkbox:checked ~ .checkbox-on {
	display: block;
}

.filter-input-checkbox:checked ~ .checkbox-off {
	display: none;
}

.filter-input-checkbox:not(checked) ~ .checkbox-off {
	display: block;
}

.filter-input-checkbox:not(checked) ~ .checkbox-on {
	display: none;
}

.filter-btn {
	width: 260px;
	color: #000000;
	background-color: #eeeeee;
	padding-top: 16px;
	padding-bottom: 16px;
	cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
	color: #000000;
	background-color: #dfdfdf;
}

.filter-btn:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

/*----- <div class="right-column"> -----*/

.right-column {
	box-sizing: border-box;
	width: 900px;
	display: flex;
	flex-direction: column;
	padding-right: 20px;
	padding-left: 40px;
}

/*----- <div class="sorting"> -----*/

.sorting {
	display: flex;
	justify-content: space-between;
	width: 760px;
}

.sorting-header {
	margin: 0;
	width: 360px;

	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.sorting-type {
	position: relative;
	width: 360px;
	display: flex;
	flex-wrap: wrap;
	line-height: 18px;
}

.sorting-controls {
	margin-left: auto;
}

.sorting-type a {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000000;
}

.sorting-name-link {
	margin-right: 25px;
}

.sorting-controls a  {
	margin-left: 19px;
}

.link-max-min polyline,
.link-min-max polygon {
	fill: rgba(166, 166, 166, 0.2);
}

.link-max-min polyline:hover,
.link-min-max polygon:hover {
	fill: rgba(166, 166, 166);
}

.link-max-min polyline:active,
.link-min-max polygon:active {
	fill: #231f20;
}



/*----- <section class="templates"> -----*/

.templates-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
	line-height: 0;
}

.templates-item {
	width: 360px;
	position: relative;
	margin-bottom: 33px;
}

.templates-item-image {
	margin: 0;
	padding-top: 40px;
}

.browser-bg {
	height: 40px;
	background-image: url("../img/browser.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.12;
}

.templates-item-price {
	box-sizing: border-box;
	width: 360px;
	min-height: 230px;
	padding-top: 30px;
	padding-bottom: 43px;
	background-color: #eeeeee;
	text-align: center;
	position: absolute;
	bottom: 0;
}

.templates-item-price h3 {
	margin: 0;
	margin-bottom: 17px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.templates-item-header a {
	color: #000000;
}

.templates-item-price p {
	margin: 0;
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}

.templates-item-price a {
	display: block;
	box-sizing: border-box;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
}

.templates-item-price {
	display: none;
}

.templates-item:hover .templates-item-price {
	display: block;
}

.templates-item:hover .browser-bg {
	opacity: 1;
}

/*----- <ul class="pagination-list"> -----*/

.pagination-list {
	list-style: none;
	display: flex;
	margin: 0;
}

.pagination-link {
	display: block;
	text-align: center;
	padding: 16px 20px;
	margin-right: 11px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #000000;
	background-color: #eeeeee;
	border-radius: 2px;
}

.pagination-link-long {
	padding: 16px 78px;
	text-transform: uppercase;
}

.pagination-link:hover {
	background-color: #dfdfdf;
}

.pagination-link:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:active {
	background-color: #ffffff;
	box-shadow: inset 0 0 0 3px #dbdbdb; 
}